.img-logo{
        position: absolute;
    width: 75px;
    top: 1px;
}


.navbar-toggler{
 color: black;
}

#header-carousel{
  margin-top: -24px;
}
h1{
font-size: 19px;
    text-align: start;
    width: 100%;
        color: #434343;
}
h5{
  font-size: 23px;
    text-align: center;
}
.aboutt{
      font-size: 14px;
   
}

.imgabout{
      width: 74%;
    margin: auto;
    margin-bottom: 10px;
}

.titleHome{
    font-size: 35px;
}

.titleHome0{
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.imgcircular {
    width: 61px;
    height: 61px;
    border-radius: 50%;
    top: 13px;
    left: 32px;
    z-index: -1;
    object-fit: cover; /* لضبط الصورة داخل الدائرة بشكل جميل */
}
.navbar-collapse{
    background-color: #ffaf00b8 !important;
    text-align: center;
}
/*  #ffaf00b8 !important  */