

 <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active"  style="height: 100vh;">
                <img class="w-100" src="./assets/img/carousel-1.jpg"
                alt="Pastilla marocaine">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="title mx-5 px-5 animated slideInDown">
                        <div class="title-center">
                            <h5   class="bienvenu">Bienvenue</h5>
                            <h1 class="display-1 titleHome">DÉLICESDORÉS</h1>
                        </div>
                    </div>

                    <p class="fs-5-edit mb-5 animated slideInDown">
                        Découvrez la délicieuse pastilla marocaine, un mélange parfait entre le sucré
                        et le salé.<br>
                        Une invitation irrésistible à la gourmandise...
                    </p>
                    <a href="#!" class="btn btn-outline-primary-edit border-2 btn-py-3 btn-px-5 animated slideInDown">
                        Explorer Plus
                    </a>
                </div>
            </div>
        
            
         
            <div class="carousel-item "  style="height: 100vh;">
                <img class="w-100" src="./assets/img/carousel-2.jpg"
                style=" height: 100vh;"  alt="Pastilla marocaine">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="title mx-5 px-5 animated slideInDown">
                        <div class="title-center">
                            <h5 style="    color: white;">Bienvenue</h5>
                            <h1 class="display-1 titleHome">DÉLICESDORÉS</h1>
                        </div>
                    </div>
                    <p class="fs-5-edit mb-5 animated slideInDown">
                        Découvrez la délicieuse <strong>pastilla marocaine</strong>, un mélange parfait entre le sucré
                        et le salé.<br>
                        Une invitation irrésistible à la gourmandise...
                    </p>
                    <a href="#!" class="btn btn-outline-primary-edit border-2 btn-py-3 btn-px-5 animated slideInDown">
                        Explorer Plus
                    </a>
                </div>
            </div>
            <div class="carousel-item "  style="height: 100vh;">
                <img class="w-100" src="./assets/img/carousel-3.jpg"
                style=" height: 100vh;"  alt="Pastilla marocaine">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="title mx-5 px-5 animated slideInDown">
                        <div class="title-center">
                            <h5  style="    color: white;">Bienvenue</h5>
                            <h1 class="display-1 titleHome">DÉLICESDORÉS</h1>
                        </div>
                    </div>
                    <p class="fs-5-edit mb-5 animated slideInDown">
                        Découvrez la délicieuse <strong>pastilla marocaine</strong>, un mélange parfait entre le sucré
                        et le salé.<br>
                        Une invitation irrésistible à la gourmandise...
                    </p>
                    <a href="#!" class="btn btn-outline-primary-edit border-2 btn-py-3 btn-px-5 animated slideInDown">
                        Explorer Plus
                    </a>
                </div>
            </div>
       






        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>



<!-- About Start -->
<div class="container-fluid container-about pb-4">
    <div class="container">
        <div class="row g-5 align-items-center section-about">
            
            <div class="col-lg-7 pb-0 pb-lg-5 edit-py-5 txt-about">
                <div class="pb-0 pb-lg-5 edit-py-5 ">
                    <div class=" wow fadeInUp" data-wow-delay="0.1s">
                        <div class="title-left">
                            <h5 class="titel-about">Notre histoire</h5>
                            <h1 style="color: #434343;">Du Maroc à la France, un voyage de passion et de
                        goût raffiné</h1>
                        </div>
                    </div>
                    <p class="mb-4 wow fadeInUp aboutt" data-wow-delay="0.2s"> 

                        Je suis Amal, une femme marocaine qui porte dans son cœur l’amour des saveurs authentiques et la
                        beauté des détails de la cuisine de mon pays.
                        Mon voyage a commencé lorsque je suis partie en France, emportant avec moi les souvenirs de mon
                        enfance et les douceurs marocaines qui allient authenticité et délicatesse.

                        En France, j’ai découvert que la nostalgie peut devenir une source de créativité, et que le goût
                        peut être un langage qui unit les cultures.
                        C’est ainsi qu’est né DÉLICESDORÉS — “Les Délices d’Or” — un projet qui marie la chaleur
                        marocaine à l’élégance raffinée de la France...
                          <span class=" d-flex align-items-center justify-content-center mt-1 btn-about">
                                        <a href="#!" 
                                        class="btn btn-outline-primary-edit border-2
                                         btn-py-3 btn-px-5 animated slideInDown text-warnning">
                        Explorer Plus
                    </a>
                </span>
                        
<!--
                       
                        Chaque création Délices d’Or raconte une histoire : celle des traditions que nous avons
                        héritées, du rêve que nous avons construit, et du goût qui unit l’Orient et l’Occident en une
                        seule bouchée de bonheur.
                     -->
                    </p>
                   
                    <div class="carousel-item active" >
               
               
            </div>
                </div>
            </div>
            <div class="col-lg-5 wow fadeInUp  imgabout" data-wow-delay="0.5s">
                <img class="img-fluid" src="./assets/img/about.png" alt="">
            </div>
          
        </div>
    </div>
</div>
<!-- About End -->

<!-- Corsal Start -->
<app-coursal></app-coursal>
<!-- Corsal End -->


