<!-- Footer Start -->
<div class="container-fluid  text-light   wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center py-5">
        <a href="index.html">
            <h1 class="display-4 mb-3  text-uppercase" style="color: #dc8d05;"><i
                    class="fa-regular fa-face-smile me-1"></i>DÉLICESDORÉS</h1>
        </a>
        <div class="d-flex justify-content-center mb-4">
            <a class="btn btn-lg-square btn-outline-primary0 border-2 m-1" href="index.html"><i
                    class="fab fa-x-twitter"></i></a>
            <a class="btn btn-lg-square btn-outline-primary0 border-2 m-1" href="index.html"><i
                    class="fab fa-facebook-f"></i></a>
            <a class="btn btn-lg-square btn-outline-primary0 border-2 m-1" href="index.html"><i
                    class="fab fa-youtube"></i></a>
            <a class="btn btn-lg-square btn-outline-primary0 border-2 m-1" href="index.html"><i
                    class="fab fa-linkedin-in"></i></a>
        </div>
        <p>&copy; <a class="border-bottom" href="index.html">DÉLICESDORÉS</a>, Tous droits réservés.</p>

        <!--/*** Le lien d’attribution de l’auteur doit rester intact dans le modèle. ***/-->
        <!--/*** Si vous souhaitez supprimer ce crédit, veuillez acheter la version Pro. ***/-->
       
    </div>
</div>
<!-- Footer End -->
